version: '3'
services:
  checker:
    image: python
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    volumes:
      - "./:/app"
    environment:
      - NOTIF_TOKEN=${NOTIF_TOKEN}
